<h1>Thống kê</h1>
<div>
    <a style="text-decoration:none" class="btn-outline-info new" asp-controller="Statistical" asp-action="Exam">Thống kê số lượng khóa thi, phòng thi theo từng trình độ A2, B1</a>
    <a style="text-decoration:none" class="btn-outline-info new" asp-controller="Statistical" asp-action="ListExaminee">Thống kê số lượng sinh viên theo từng khóa thi, theo từng trình độ A2, B1</a>

    <style>
        .new {
            padding: 30px 60px 30px 60px;
            border-radius: 10px;
            width: 350px;
            text-decoration: none;
            display: inline-block;
            background-color: #FFFF99;
        }
        body{
            text-align:center
        }
    </style>
</div>