@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CHÀO MỪNG BẠN ĐẾN VỚI TRUNG TÂM TIẾNG ANH</h1>
    <div style="font-size:40px;margin-top:15px;margin-right:15px">
        <i class="fas fa-hand-point-right mr-2"></i><a class="btn btn-success" asp-controller="Examinee" asp-action="Index">THI CẤP CHỨNG CHỈ</a>
    </div>
    <p style="margin-top:15px">
        Mọi chi tiết xin liên hệ: <b>NGUYỄN VŨ PHI TRƯỜNG</b> <br />
        Số điện thoại: <b>0398351965</b> <br />
        Email: <b>truong3011200@gmail.com</b>
    </p>
</div>
