@model ModelView
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1>Tra cứu thông tin phòng thi của sinh viên</h1>
    <form action="/Examinee/Search" method="post" onsubmit="return check()" class="form-group d-flex margin-bottom-20">
        <input type="text" name="search" id="search" placeholder="Nhập họ tên"
               class="form-group rounded"
               style="outline:none;margin-right:1px;width:215px" />
        <input type="submit" value="Tìm" class="form-group btn btn-primary rounded">
        <script>
            function check() {
                if (document.getElementById("search").value == "") {
                    alert("Vui lòng nhập từ khoá cần tìm kiếm!");
                    return false;
                }
            }
        </script>
    </form>
    <div class="row">
        <table class="table table-bordered table-hover table-striped text-center"
               style="display:block;overflow:auto;border-radius:10px;">
            <thead class="thead-light" style="display:table;width:100%;table-layout:fixed">
                <tr>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Phòng thi</th>
                </tr>
            </thead>
            <tbody style="display:block;overflow:auto;max-height:400px;width:auto">
                @if (Model.Examinees != null) // nếu dữ liệu khác null
                {
                    @foreach (var i in Model.Examinees)
                    {
                        <tr style="display:table;width:100%;table-layout:fixed;background-color:white;">
                            <td style="color:black">@i.FullName</td>
                            <td style="color:black">@i.RoomName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <a href="/Examinee/Index" class="btn btn-primary">Về danh sách thí sinh</a>
    </div>
</div>


